Source/Foodler/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Participants" type="tns:Participants" />
      <xs:element name="AvaibleParticipants" type="tns:AvaibleParticipants" />
      <xs:element name="ChosenParticipants" type="tns:ChosenParticipants" />
      <xs:element name="Food" type="tns:Food" />
      <xs:element name="ParticipantContainers" type="tns:ParticipantContainers" />
    </xs:sequence>
    <xs:attribute blend:Format="Price" name="FoodTotalCost" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Participants">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ParticipantsItem" type="tns:ParticipantsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParticipantsItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="Property2" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="AvaibleParticipants">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AvaibleParticipantsItem" type="tns:AvaibleParticipantsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AvaibleParticipantsItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ChosenParticipants">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChosenParticipantsItem" type="tns:ChosenParticipantsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChosenParticipantsItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Food">
    <xs:attribute blend:FormatParameters="2,4" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="Cost" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="ParticipantContainers">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ParticipantContainersItem" type="tns:ParticipantContainersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParticipantContainersItem">
    <xs:sequence>
      <xs:element name="Participant" type="tns:Participant" />
      <xs:element name="Food" type="tns:Food1" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2" name="FoodCount" type="xs:double" />
    <xs:attribute blend:Format="Price" name="TotalCost" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Participant">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Food1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="FoodItem" type="tns:FoodItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FoodItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:Format="Price" name="Cost" type="xs:string" />
  </xs:complexType>
</xs:schema>