Source/Foodler/SampleData/AboutPage/AboutPage.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.AboutPage" targetNamespace="Expression.Blend.SampleData.AboutPage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AboutPage" type="tns:AboutPage" />
  <xs:complexType name="AboutPage">
    <xs:attribute name="AboutTabLabel" type="xs:string" />
    <xs:attribute name="VersionLabel" type="xs:string" />
    <xs:attribute name="DescriptionLabel" type="xs:string" />
    <xs:attribute name="WriteEmailTextLabel" type="xs:string" />
    <xs:attribute name="RateAppTextLabel" type="xs:string" />
    <xs:attribute name="RateAppBtnLabel" type="xs:string" />
    <xs:attribute name="WriteEmailBtnLabel" type="xs:string" />
    <xs:attribute name="DontMakeBadVoteTitleLabel" type="xs:string" />
    <xs:attribute name="DontMakeBadVoteTextLabel" type="xs:string" />
    <xs:attribute name="ThankYouVoteLabel" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\..\Resources\Images\Original" name="AboutLogo" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>